* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url(1920x1152_0xac120003_12726234471666876992.jpeg);
  background-image: no-repeat;
  background-size: cover;
}

header {
  background-color: #04101ca9;
  color: #fff;
  padding: 20px;
}

section {
  padding: 50px;
}
.work-links {
  list-style: none;
  display: flex;
  justify-content: center;
}

.work-links li {
  margin-right: 20px;
}

.work-links li a {
  background-color: black;
  color: #fff;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.7s ease;
}

.work-links li a:hover {
  border: 1px solid white;
  color: black;
  background-color: white;
}
h1{
  text-align: center;
}
