* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: Arial, sans-serif;
background-color:#fefffe;
background-image: url(1920x1152_0xac120003_12726234471666876992.jpeg);
background-image: no-repeat;
background-size: cover;
}

header {
  border-radius: 10px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 10px;
  background-color: #04101ca9;
  color: #fff;
  padding: 20px;
  font-family: system-ui;

}

header ul{ 
  text-align: end;
}
nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 50px;
}
.project {
  margin-bottom: 20px;
}
