* {
  margin: 0px;
  padding: 0px;
  /* box-shadow: 0 0 10px red inset */
}

body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto;
}

header .left-side a img {
  width: 80px;
}

header .right-side {
  display: flex;
}

header .right-side .nav-link-wrapper a {
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 50px auto;
}

.container .left-side {
  text-align: center;
}

.container .left-side h1 {
  font-size: 60px;
  letter-spacing: 2px;
}

.container .left-side h1 .green {
  color: green;
  font-family: "Viga", serif;
}

.container .left-side p {
  font-size: 20px;
  letter-spacing: 0.5px;
}

.container .left-side a {
  display: inline-block;
  background: green;
  padding: 12px 18px 12px 18px;
  text-decoration: none;
  border-radius: 25px;
  color: white;
  margin-top: 15px;
  font-size: 17px;
  font-weight: bold;
}

.container .right-side {
  text-align: center;
  margin-top: 60px;
}

.container .right-side img {
  max-width: 50%;
}

.container .right-side .box {
  position: absolute;
  display: grid;
  right: 0%;
  bottom: 0%;
}

.container .right-side .box img {
  width: 25px;
  margin: 10px;
}

.container .right-side .box img.facebook {
  width: 18.5px;
}

.thumb {
  display: flex;
  margin-top: -60px;
  justify-content: center;
}

.thumb a:hover {
  margin-top: -15px;
  transition: 0.2s;
}

.thumb img {
  width: 54px;
  margin: 20px;
}

@media (min-width: 1140px) {
  * {
    margin: 0px;
    padding: 0px;
  }
  body {
    overflow-x: hidden;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 10px auto;
  }

  header .left-side a img {
    width: 80px;
  }

  header .right-side {
    display: flex;
  }

  header .right-side .nav-link-wrapper a {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: black;
  }

  .container {
    max-width: 90%;
    margin: 50px auto;
    display: flex;
  }

  .container .left-side {
    text-align: left;
    flex: 1;
  }

  .container .left-side h1 {
    font-size: 60px;
    letter-spacing: 2px;
  }

  .container .left-side h1 .green {
    color: green;
    font-family: "Viga", serif;
  }

  .container .left-side p {
    font-size: 20px;
    letter-spacing: 0.5px;
  }

  .container .left-side a {
    display: inline-block;
    background: green;
    padding: 12px 18px 12px 18px;
    text-decoration: none;
    border-radius: 25px;
    color: white;
    margin-top: 15px;
    font-size: 17px;
    font-weight: bold;
  }

  .container .right-side {
    flex: 1;
    text-align: center;
  }

  .container .right-side img {
    width: 530px;
    margin-left: 550px;
    margin-top: -150px;
  }

  .container .right-side .box {
    display: grid;
    position: absolute;
    bottom: 40%;
    right: 1%;
  }

  .container .right-side .box img {
    width: 25px;
    margin: 10px;
  }

  .container .right-side .box img.facebook {
    width: 18.5px;
  }

  .thumb {
    position: absolute;
    bottom: 0%;
    left: 40%;
  }

  .thumb a:hover {
    margin-top: -15px;
    transition: 0.2s;
  }

  .thumb img {
    width: 54px;
    margin: 20px;
  }
}

@media only screen and (max-width: 650px) {
  header {
    display: block;
  }

  header .left-side a img {
    width: 80px;
    margin: auto;
    display: block;
  }

  header .right-side {
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }

  header .right-side .nav-link-wrapper a {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: black;
  }

  .container {
    max-width: 80%;
    margin: 50px auto;
    flex-direction: column-reverse;
  }

  .container .left-side {
    text-align: center;
  }

  .container .left-side h1 {
    font-size: 50px;
    letter-spacing: 2px;
  }

  .container .left-side h1 .green {
    color: green;
    font-family: "Viga", serif;
  }

  .container .left-side p {
    font-size: 18px;
    letter-spacing: 0.5px;
  }

  .container .left-side a {
    display: inline-block;
    background: green;
    padding: 12px 18px 12px 18px;
    text-decoration: none;
    border-radius: 25px;
    color: white;
    margin-top: 15px;
    font-size: 16.2px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 404px) {
  header {
    display: block;
  }

  header .left-side a img {
    width: 80px;
    margin: auto;
    display: block;
  }

  header .right-side {
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }

  header .right-side .nav-link-wrapper a {
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: black;
  }

  .container .right-side img {
    width: 330px;
    margin-top: -30px;
    flex-direction: column-reverse;
  }

  .container .right-side img {
    max-width: 50%;
  }

  .container .right-side .box {
    display: none;
    position: absolute;
    bottom: 250px;
    right: 25px;
  }

  .container .right-side .box img {
    width: 25px;
    margin: 10px;
  }

  .container .right-side .box img.facebook {
    width: 18.5px;
  }

  .thumb {
    display: flex;
    margin-top: -30px;
    justify-content: center;
  }

  .thumb a:hover {
    margin-top: -15px;
    transition: 0.2s;
  }

  .thumb img {
    width: 45px;
    margin: 20px;
  }
}
sup{
  color: rgba(0, 0, 0, 0.342);
}
img.starbucks{
  scale: 0.5;
  position: relative;
  display: flex;
  left: -225px;
  top: 50px;
}
h2.info{
  position: relative;
  display: flex;
  top: 230px;
  left: -350px;
}
p.sinfo{
  top: 155px;
  left: -350px;
  scale: 0.75;

  position: relative;
  display: flex;
}
.btn-up {
  /* фиксированное позиционирование */
  position: fixed;
  /* цвет фона */
  background-color: #000000;
  /* расстояние от правого края окна браузера */
  right: 20px;
  /* расстояние от нижнего края окна браузера */
  bottom: 0;
  /* скругление верхнего левого угла */
  border-top-left-radius: 8px;
  /* скругление верхнего правого угла */
  border-top-right-radius: 8px;
  /* вид курсора */
  cursor: pointer;
  /* отображение элемента как flex */
  display: flex;
  /* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
  align-items: center;
  /* выравниваем элементы внутри элемента по центру вдоль главной оси */
  justify-content: center;
  /* ширина элемента */
  width: 60px;
  /* высота элемента */
  height: 50px;
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: flex;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    transition: 0.5s ease;
    background-color: green; /* цвет заднего фона при наведении */
  }
}
body{
  background: -webkit-linear-gradient(135deg, rgb(0, 133, 22), rgb(255, 255, 255));
  background: -moz-linear-gradient(135deg, rgb(0, 133, 22), rgb(255, 255, 255));
  background: linear-gradient(135deg, rgb(0, 133, 22), rgb(255, 255, 255));
  transition: 0.5s ease;

}
.color1 {
  background: -webkit-linear-gradient(135deg, rgb(0, 169, 27), rgb(255, 255, 255));
  background: -moz-linear-gradient(135deg, rgb(0, 169, 27), rgb(255, 255, 255));
  background: linear-gradient(135deg, rgb(0, 169, 27), rgb(255, 255, 255));
}

.color2 {
  background: -webkit-linear-gradient(135deg, rgb(255, 116, 245), rgb(255, 255, 255));
  background: -moz-linear-gradient(135deg, rgb(255, 116, 245), rgb(255, 255, 255));
  background: linear-gradient(135deg, rgb(255, 116, 245), rgb(255, 255, 255));
}

.color3 {
  background: -webkit-linear-gradient(135deg, rgb(214, 81, 255), rgb(255, 255, 255));
  background: -moz-linear-gradient(135deg, rgb(214, 81, 255), rgb(255, 255, 255));
  background: linear-gradient(135deg, rgb(214, 81, 255), rgb(255, 255, 255));
}
h3{
  width: 300px;
}