@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
.card {
  position: relative;
  width: 300px;
  height: 380px;
  background: rgba(0, 0, 0, 0);
  display: flex;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 0.5s ease-in-out;
  margin-bottom: 10px;
}
.card:hover {
  width: 600px;
}
.card .imgBx {
  position: relative;
  min-width: 300px;
  height: 100%;
  background: -webkit-linear-gradient(
    135deg,
    rgb(255, 255, 255),
    rgb(255, 210, 246)
  );
  background: -moz-linear-gradient(
    135deg,
    rgb(255, 255, 255),
    rgb(255, 210, 246)
  );
  background: linear-gradient(135deg, rgb(255, 255, 255), rgb(255, 210, 246));
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.card2 .imgBx {
  background: -webkit-linear-gradient(
    135deg,
    rgb(255, 255, 255),
    rgb(193, 255, 206)
  );
  background: -moz-linear-gradient(
    135deg,
    rgb(255, 255, 255),
    rgb(193, 255, 206)
  );
  background: linear-gradient(135deg, rgb(255, 255, 255), rgb(193, 255, 206));
}
.card3 .imgBxx {
  background: -webkit-linear-gradient(
    135deg,
    rgb(255, 255, 255),
    rgb(237, 173, 247)
  );
  background: -moz-linear-gradient(
    135deg,
    rgb(255, 255, 255),
    rgb(237, 173, 247)
  );
  background: linear-gradient(135deg, rgb(255, 255, 255), rgb(237, 173, 247));
}
.card .imgBx img {
  max-width: 250px;
  transition: 0.5s ease-in-out;
}
.card:hover .imgBx img {
  transform: rotate(-5deg) translateX(-20px);
}
.card .details {
  position: absolute;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: pink;
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  transition: 0.5s ease-in-out;
}
.card2 .details {
  background-color: green;
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  transition: 0.5s ease-in-out;
}
.card3 .details {
  position: absolute;
  left: 0;

  height: 100%;
  background-color: purple;
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  transition: 0.5s ease-in-out;
}
.card:hover .details {
  left: 300px;
}
.card .details::before {
  content: "";
  position: absolute;
  left: 0px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
  z-index: 1;
}
.card .details h3 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1em;
}
.card .details h3 span {
  font-size: 0.65em;
  font-weight: 300;
  opacity: 0.85;
  text-transform: none;
}
.card .details h4 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9em;
  line-height: 1em;
  margin-top: 20px;
  margin-bottom: 10px;
}
p.card {
  color: #fff;
  font-size: 0.8em;
  opacity: 0.85;
}
.size {
  display: flex;
  gap: 10px;
}
.size li {
  list-style: none;
  color: #fff;
  font-size: 0.9em;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  cursor: pointer;
  font-weight: 500;
  opacity: 0.5;
}
.size li:hover {
  background: #fff;
  color: #4ba9e9;
  opacity: 1;
  transition: 0.3s;
}
.group {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
  /* left: -30px; */
  padding-right: 30px;
}
.card .details h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2em;
}
.card .details h2 sup {
  font-weight: 300;
}
.card .details h2 small {
  font-size: 0.75em;
}
.card .details a {
  display: inline-flex;
  padding: 10px 25px;
  background: #fff;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #4ba9e9;
}
div.card2 {
  margin-left: 50px;
  position: relative;
  top: -390px;
  left: 550px;
  width: 300px;
}

.card2 {
  position: relative;
  right: 50px;
}
.card3 {
  position: relative;
  top: -780px;
  right: -1200px;
}
div.card3 {
  width: 300px;
}
